{
  "extends": "airbnb",
  "rules": {
    "no-console": ["error", {
      "allow": [
        "warn",
        "error"
      ]
    }],
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2, {
      "MemberExpression": 0
    }],
    "max-len": ["error", 120],
    "object-curly-newline": "off",
    "no-param-reassign": "off",
    "no-await-in-loop": "off",
    "func-names": ["warn", "never"],
    "no-throw-literal": "off",
    "no-confusing-arrow": ["error", {
      "allowParens": true
    }]
  }
}